<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Spring Framework Guru</title>
</head>
<body>
<h1>Authors list</h1>

<table>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Second name</th>
    </tr>

    <tr th:each="author : ${authors}">
        <td th:text="${author.id}"></td>
        <td th:text="${author.firstName}"></td>
        <td th:text="${author.secondName}"></td>
    </tr>
</table>

</body>
</html>